/* Font import */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Questrial&family=Raleway:wght@400;500;600;700&display=swap');



body{
    overflow: hidden;
}

.main-container{
    display: flex;
    justify-content: space-between;

}


/* left box */
.left-box{
    
    width: 25vw;
    height: 97vh;
    display: flex;
    position: absolute;
    
 }
 
 
 
 .aside {
     display: flex;
    flex-direction: column;
    background-color:black;
    width: 130px;
    height: 98vh;
    color: white; 
    justify-content: center;
    align-items: center;
    
}

.box-2{ 
    background-color:black;
    margin-left: 15px;
 width: 20vw;
 height: 98vh;
 
} 

.profile-box1{
    background-color:white;
    width: 16vw;
    height: 16vw;
    position: relative;
    top: 26vh;
    left: 21.4vw;
    
    position: absolute;
}

.profile-box2{
    background-color:rgb(110, 162, 184);
    width: 16vw;
    height: 16vw;
    position: relative;
    top: 22.5vh;
    left: 22vw;

}

.line{
    position: relative;
    height: 12vh;
    background-color:black;
    width: 3px;
    top: 33.5vh;
    left:18vw;
}


/* Right box  */

.right-box{
    
    height: 98vh;
    width:70vw;
    
}

h2{
    font-family:'Montserrat',sans-serif;
    position: relative;
    width: 25vw;
    top: 31.5vh;
    left: 13.5vw;
    
    font-size: 30px;
    
}
h3{
    font-family:'Montserrat',sans-serif;
    position: relative;
    width: 25vw;
    top: 29vh;
    left: 13.8vw;
    font-size: 15px;

}

.social-handle{
    display: block;
    top: 45vh;
    left: -1vw;
    position: relative;
    text-align: center;
    justify-content: center;
    background-color: blue;
    width: 300px;
    height: 30px;
    font-size: 10px;
}