body{
    background-color: none;
    width: 100vh;
    min-height: 100%;
}

.main-container {
    display: flex;
    background-color:black;
    width: 6vw;
    height: 97vh;
    color: white; 
    text-align: center;
    align-items: center;

}


