/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Questrial&family=Raleway:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
.main-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.left-box {
  width: 28vw;
  height: 100%;
  display: flex;
  position: absolute;
}

.left-box > h2 {
  display: none;
}

.aside {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 130px;
  height: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.aside > a > li {
  list-style: none;
}
.aside > a > li > img {
  position: relative;
  filter: grayscale(1) invert(1);
  height: 20px;
  width: 20px;
}

li:nth-child(even) {
  padding-bottom: 40px;
}

li:nth-child(odd) {
  padding-bottom: 40px;
}

.box-2 {
  background-color: black;
  margin-left: 15px;
  width: 400px;
  height: 100%;
}

.profile-box1 {
  background-color: white;
  width: 35vh;
  height: 35vh;

  top: 26vh;
  left: 21.4vw;

  position: absolute;
}

.profile-box2 {
  background-color: gray;
  background-image: url("muji.png");
  background-size: 50vh;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 35vh;
  height: 35vh;
  position: relative;
  top: 23vh;
  left: 22.5vw;
}

.right-box {
  height: 98vh;
  width: 60vw;
}

.line {
  position: relative;
  height: 12vh;
  background-color: black;
  width: 3px;
  top: 34vh;
  left: 5vw;
}

h2 {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 25vw;
  top: 23.5vh;
  left: 6vw;
  font-size: 30px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 25vw;
  top: 23.7vh;
  left: 6.2vw;
  font-size: 15px;
}

.social-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 38vh;
  left: -7vw;
  position: relative;

  width: 150px;
  height: 30px;
  font-size: 10px;
}

.social-handle > a > li {
  list-style: none;
  padding: 10px;
}

.social-handle > a > li > img {
  height: 20px;
  width: 20px;
}

button {
  border: 2px solid black;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  width: 160px;
  height: 45px;
  margin-left: 25px;
  position: relative;
  top: 30.5vh;
  left: 6vw;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.learn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  width: 60px;
  height: 60px;
  color: white;
  position: relative;
  top: -13vw;
  right: -55vw;
}

@media (max-width: 600px) {
  .main-container {
    padding: 0;
    margin: 0 !important;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .box-2 {

    display: none;
  }

  .left-box {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    width: 100%;
    height: 60px;
  }

  .left-box > h2 {
  
    font-size: 25px;
    display: contents;
  }

  .aside {
    padding-top: 40px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

.profile-box2{
  width: 94.5vw;
  height: 55vh;
  top: 75px;
  left: 15px;
  background-size: cover;
  position: absolute;
}

.right-box{
  display: flex;
  flex-direction: column;
}

.right-box>h2{
  color: rgb(35, 34, 34);
  width: 300px;
  font-size: 25px;
  position: relative;
  top: 68vh;
}

.right-box>h3{

  color: rgb(35, 34, 34);
  width: 300px;
  font-size: 15px;
  position: relative;
  top: 68vh;
  left: 7vw;
}

.button{
  display: flex;
  margin: 20px;
  
}

.button>button{
  margin:5px;
  font-size: 15px;
   position: relative; 
  top: 70vh;
  left: 25vw;
}

.social-handle{
  top: 70vh;
  left: 40vw;
}

/* Hidden content for layout*/
  
  .profile-box1{display: none;}

  .learn {display: none;}

  .line{display: none;}
}
